extends ../layouts/default

block content
	.container
		h1 CanDoMaths
		.section#about
			include ../partials/about
			
		.section#coreIdeas
			include ../partials/coreIdeas
			
			
		.section#fiveEssentials
			include ../partials/fiveEssentials
				
		.section#resources
			include ../partials/resources
