extends ../layouts/default

block content
	.container
		h1 CanDoMaths
		.section#about
			include ../partials/about
			
		.row
			.section#coreIdeas
				include ../partials/coreIdeas
			
		.row
			.col-md-6
				.section.animation-delay#fiveEssentials
					include ../partials/fiveEssentials
			.col-md-6
				.section#contact
					include ../partials/contact
					img.visible-md.img-responsive.center(src='/images/CanDoLogo.png')
			
		.row
			.col-md-6
				.section#resources
					include ../partials/resources
			.col-md-6
				.section#twitter
					include ../partials/twitter
