extends ../layouts/default

block content
	.container
		h1 CanDoMaths
		.section#about
			include ../partials/about
			
		.row
			.col-lg-6
				.section#coreIdeas
					include ../partials/coreIdeas
			
			.col-lg-6
				.section.animation-delay#fiveEssentials
					include ../partials/fiveEssentials
				
		.section#resources
			include ../partials/resources				
