extends ../layouts/default

block content
	.container
		.row
			h1.text-center CanDoMaths
		.row#about
			.col-md-6
				.section#about
					include ../partials/about
			.col-md-6
				.section.animation-delay.hidden-sm.fiveEssentials#fiveEssentials
					include ../partials/fiveEssentials
		
			
		.row#coreIdeas
			.col-md-6
				.section#spinningBalls
					include ../partials/coreIdeas
			.col-md-6
				.section#coreIdeasDescription
					include ../partials/coreIdeasDescriptions
						
		.row#resources
			h1.text-center 'Can Do Maths' Resources and Links
			.col-md-6
				.section#resources
					include ../partials/resources
			.col-md-6
				.section#links
					include ../partials/links
		.row#contact
			.col-md-6
				.section#contact
					include ../partials/contact
			.col-md-6
				.section#twitter
					include ../partials/twitter
