.row
	.col-sm-12
		p
		| All students can enjoy and improve their achievement in mathematics. it is no longer acceptable to say that only 
		| certain types of people can learn mathematics. 
		p
		| This site provides ideas and links to resources to support teachers and parents to help children and students 
		| believe they 'Can Do Maths'.
