.row
	.col-sm-12
		br
		p
			| "
			i Whether you think you can, or you think you can't--you're right.
			| " - Henry Ford

		p
			| All students can enjoy and improve their achievement in mathematics. It is no longer acceptable to say that only 
			| certain types of people can learn mathematics. 
		p
			| This site provides ideas and links to resources to support teachers and parents to help children and students 
			| believe they 'Can Do Maths'.
		
		.row
			h2 Meet Colin the 'Can Do' Caribou
			.col-xs-6
				p Colin believes that he can enjoy and achieve in mathematics with:
				ul(style='padding-left: 0px;')
					li.card Understanding
					li.card Belief
					li.card Hard Work
			.col-xs-4
				img(src='/images/colin_yet.png' style='max-height: 200px;').img-responsive.pull-left
