h2 About CanDoMaths
.row
	.col-sm-9
		p
		| All students can enjoy and improve their achievement in mathematics. Whenever you are trying to learn mathematics 
		| or working with someone who needs to learn mathematics, having a “Can Do” approach is essential. 
		p
		| CanDoMaths promotes that it is no longer acceptable to say that only certain types of people can be successful in 
		| mathematics. This site provides ideas and links to resources to support teachers and parents to inspire children to be 
		| successful in mathematics.
	.col-sm-2
		img(src='/images/CanDoLogo.png' style='max-height: 140px;').img-responsive
