.row
	.col-sm-12
		p
		| All students can enjoy and improve their achievement in mathematics. Whenever you are trying to learn mathematics 
		| or working with someone who needs to learn mathematics, having a “Can Do” approach is essential. 
		p
		| CanDoMaths promotes that it is no longer acceptable to say that only certain types of people learn 
		| mathematics. This site provides ideas and links to resources to support teachers and parents to inspire children to be 
		| successful.

