.row
	.col-sm-12
		br
		p
			| "
			i Whether you think you can, or you think you can't--you're right.
			| "
			br
			| - Henry Ford
		p
			| All students can enjoy and improve their achievement in mathematics. It is no longer acceptable to say that only 
			| certain types of people can learn mathematics. 
		p
			| This site provides ideas and links to resources to support teachers and parents to help children and students 
			| believe they 'Can Do Maths'.
		br
		br
		.row
			.col-xs-12
				h2 Meet Colin the 'Can Do' Caribou
			.col-xs-7
				p Colin believes that he can enjoy and achieve in mathematics with:
				ul.colinCards
					li.card Understanding
					li.card Belief
					li.card Hard Work
			.col-xs-5
				#colinImgs
					img.colinImg#colinImg1(src='/images/colin_yet.png').img-responsive
					img.colinImg#colinImg2(src='/images/colin_thumbs.png').img-responsive
