#coreIdeasAnimation
	#coreIdeasAnchor
		.coreIdea.fade-out-1
			.coreIdeaContent
				h4.text-center Belief
		.coreIdea.fade-out-1
			.coreIdeaContent
				h4.text-center Hard Work
		.coreIdea.fade-out-1
			.coreIdeaContent
				h4.text-center Teaching for Understanding
		#coreIdeasImage.fade-in-1.text-center
			img(src='/images/CanDoLogoTransparent.png')#coreIdeasLogo.text-center
