.col-md-6
	#coreIdeasAnimation
		#coreIdeasAnchor
			.coreIdea.fade-out-1
				.coreIdeaContent
					h4.text-center Belief
			.coreIdea.fade-out-1
				.coreIdeaContent
					h4.text-center Hard Work
			.coreIdea.fade-out-1
				.coreIdeaContent
					h4.text-center Teaching for Understanding
			#coreIdeasImage.fade-in-1.text-center
				img(src='/images/CanDoLogoTransparent.png')#coreIdeasLogo.text-center

.col-md-6
	#CoreIdeasDescription
		.card
			h2 Hard Work
			p
			| Success comes from hard work. It's as simple as that! - check out the interviews from medalists at the recent 
			| Rio Olympics such as 
			a(href='https://twitter.com/adam_peaty/status/771645749146771458' target='_blank') Adam Peaty
		.card 
			h2 Teaching for Understanding
			p 
			| Teaching needs to focus on developing secure and deep understanding, including the use of practical 
			| resources, iconic representations and variation theory to make it easier for learners to recognise, learn, and 
			| remember a concept. Learners trying to follow the teaching of 'rules' and 'tricks' with no understanding 
			| and experiencing only standard examples contribute to a 'can't do' attitude.
		.card
			h2 Belief
			p 
			| All learners need to believe they can succeed and also believe that their teacher and parent believes they 
			| can succeed. Adopting a growth mindset is at the heart of 'Can Do Maths' including the power of 'yet', retrieving 
			| success from the lessons of failure and making mistakes is OK. Parents, teachers and the media thinking it's 
			| acceptable to use phrases such as 'Don't worry, I can't do maths', 'Maths is too hard', etc contribute to a 'can't 
			| do' attitude.
			p Yes Mathematics can be difficult but success comes from saying 'I can't do it ... yet' and through .... hard work.
