#CoreIdeasDescription
	.card
		h2 Teaching for Understanding
		p
			| Teaching that focuses on developing secure and deep understanding, including the use of practical
			| resources and iconic representations supports the learning and memorisation of mathematical concepts. 
			| The teaching of 'rules' and 'tricks' with no understanding and the use of only ‘standard’ examples
			| contribute to learners feeling they 'can't do' maths.
	.card
		h2 Belief
		p
			| All learners need to believe they can succeed and also believe that their teacher, and parents,
			| believe they can succeed. Adopting a growth mindset is at the heart of a 'Can Do Maths’ approach
			| including the use of 'yet’ and knowing that making mistakes is an essential part of learning. 
			| Parents, teachers and the media thinking it's acceptable to use phrases such as 'Don't worry,
			| I can't do maths', 'Maths is too hard', etc all contribute to learners feeling that they 'can't do'
			| maths.

	.card
		h2 Hard Work
		p
			| Success comes from hard work. It's as simple as that!
			| Mathematics can be difficult at times but success can be achieved through hard work.
			| Check out the thoughts of 
			a(href='https://twitter.com/adam_peaty/status/771645749146771458' target='_blank') Adam Peaty
			|  and of 
			a(href='https://videopress.com/v/38GXizOv' target='_blank') Marcus Ellis and Chris Langridge
			|  from the Rio Olympics.
