h2 Core Ideas

#coreIdeasAnimation
	#coreIdeasAnchor
		.coreIdea.fade-out-1
			.coreIdeaContent
				h4.text-center Belief
		.coreIdea.fade-out-1
			.coreIdeaContent
				h4.text-center Hard Work
		.coreIdea.fade-out-1
			.coreIdeaContent
				h4.text-center Teaching for Understanding
		#coreIdeasText.fade-in-1.text-center
			h1.text-center CanDoMaths
