include ../mixins/essentials

- var essentials = []
- essentials.push({letter: 'C', name: 'Convince', description: 'Convincing, justifying and explaining to others.<br>The answer is only the beginning.'})
- essentials.push({letter: 'A', name: 'Apply', description: 'Applying to different contexts, solving problems and making connections.'})
- essentials.push({letter: 'N', name: 'Not', description: 'Understanding what it\'s \'not\' as well as what it is.'})
- essentials.push({letter: 'D', name: 'Draw', description: 'Drawing the concept to \'see\' structures and relationships.'})
- essentials.push({letter: 'O', name: 'Ok', description: 'It\'s OK not to be able to do it......yet.<br>It\'s OK to make mistakes.'})

h2 Five Essentials for a CanDoMaths Classroom

#fiveEssentialsCards
	for essential in essentials
		+essentials(essential)
		
