include ../mixins/links

h2 'Can Do Maths' Resources
ul
	each resource in resources
		+resources(resource)

p
	| CanDoMaths also produces and distributes resources via its partner,
	| Buzzard Publishing. 
	a(href="https://buzzardpublishing.com/can-do-maths/", target="_blank") More information here
	| .
