mixin essentials(essential)
	if essential
		.essential.fade-in-2.delay-1
			.essential-letter: h2!= essential.letter
			.essential-wrapper
				.essential-name: h3!= essential.name
				.essential.description: p!= essential.description
			
