#header {
  margin-top: 30px;
}

#footer {
  margin-top: 30px;
  border-top: 1px solid #eeeeee;
  padding-top: 30px;
  color: #777777;
}

.gallery-image img{
  display: block;
  max-width: 100%;
  height: auto;
}

.essential {
  overflow: hidden;

  .essential-letter {
	float: left;
	padding: 0 8px;
  }
  
  .essential-wrapper {
	float: left;
	overflow: hidden;
	padding-left: 20px;
  }
}

.fade-in-1 {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.fade-in-2 {
  opacity: 0;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}

.fade-in-1.animation-triggered {
  opacity: 1
}

.fade-in-2.animation-triggered {
  opacity: 1
}

.fade-out-1 {
  opacity: 1;
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -ms-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.fade-out-1.animation-triggered {
  opacity: 0;
}

.animation-delay .delay-2:nth-of-type(1) {
  transition-delay: 0s;
}
.animation-delay .delay-2:nth-of-type(2) {
  transition-delay: 2s;
}
.animation-delay .delay-2:nth-of-type(3) {
  transition-delay: 4s;
}
.animation-delay .delay-2:nth-of-type(4) {
  transition-delay: 6s;
}
.animation-delay .delay-2:nth-of-type(5) {
  transition-delay: 8s;
}


.animation-delay .delay-1:nth-of-type(1) {
  transition-delay: 0s;
}
.animation-delay .delay-1:nth-of-type(2) {
  transition-delay: 1s;
}
.animation-delay .delay-1:nth-of-type(3) {
  transition-delay: 2s;
}
.animation-delay .delay-1:nth-of-type(4) {
  transition-delay: 3s;
}
.animation-delay .delay-1:nth-of-type(5) {
  transition-delay: 4s;
}

#coreIdeasAnimation {
  min-height: 600px;
  max-width: 600px;
  margin: auto;
  position: relative;
}

#coreIdeasAnchor {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
 }

.coreIdea {
  position: absolute;
  padding: 50px;
  border-radius: 100px;
  width: 150px;
  height: 150px;
}

.coreIdea:nth-of-type(1) {
  background-color: #00b3ee;
}
.coreIdea:nth-of-type(2) {
  background-color: #7a43b6;
}
.coreIdea:nth-of-type(3) {
  background-color: #985f0d;
}
