@import 'https://fonts.googleapis.com/css?family=Chewy|Kalam';

body {
  font-family: 'Kalam', cursive;
}

#header {
  margin-top: 30px;
}

#footer {
  margin-top: 30px;
  border-top: 1px solid #eeeeee;
  padding-top: 30px;
  color: #777777;
}

.gallery-image img{
  display: block;
  max-width: 100%;
  height: auto;
}

.essential {
  overflow: hidden;

  .essential-letter {
	float: left;
	padding: 0 8px;
	min-width: 10%;
	text-align: center;
  }
  
  .essential-wrapper {
	float: left;
	overflow: hidden;
	padding-left: 20px;
	max-width: 80%;
  }
}

.fade-in-1 {
  opacity: 0;
  -webkit-transition: opacity 0s ease-in;
  -moz-transition: opacity 0s ease-in;
  -ms-transition: opacity 0s ease-in;
  -o-transition: opacity 0s ease-in;
  transition: opacity 0s ease-in;
}

.fade-in-1.animation-triggered {
  opacity: 1;
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -ms-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.fade-out-1 {
  opacity: 1;
  -webkit-transition: opacity 0s ease-in;
  -moz-transition: opacity 0s ease-in;
  -ms-transition: opacity 0s ease-in;
  -o-transition: opacity 0s ease-in;
  transition: opacity 0s ease-in;

}

.fade-out-1.animation-triggered {
  opacity: 0;
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -ms-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.fade-in-2 {
  opacity: 0;
  -webkit-animation: fadein 2s forwards;
  -moz-animation: fadein 2s forwards;
  -ms-animation: fadein 2s forwards;
  -o-animation: fadein 2s forwards;
  animation: fadein 2s forwards;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.animation-delay .delay-1:nth-of-type(1) {
  animation-delay: 0s;
}
.animation-delay .delay-1:nth-of-type(2) {
  animation-delay: 1s;
}
.animation-delay .delay-1:nth-of-type(3) {
  animation-delay: 2s;
}
.animation-delay .delay-1:nth-of-type(4) {
  animation-delay: 3s;
}
.animation-delay .delay-1:nth-of-type(5) {
  animation-delay: 4s;
}

#coreIdeasAnimation {
  min-height: 600px;
  max-width: 600px;
  margin: auto;
  position: relative;
}

#coreIdeasAnchor {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
 }

#coreIdeasImage {
  width: 150px;
  height: 150px;
  img {
	margin: auto 0;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
  }
}

.coreIdea {
  position: absolute;
  display: table;
  background: black;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 0;
  font-family: 'Chewy', cursive;;
}

.coreIdeaContent {
  display: table-cell;
  vertical-align: middle;
  color: #FFF;
}

.radialGradient:nth-of-type(1) {
  background: radial-gradient(circle at 30px 30px, #cae6cf 0%, #50AC5F 40%, #102213 150%);
}
.radialGradient:nth-of-type(2) {
  background: radial-gradient(circle at 30px 30px, #c6e6f3 0%, #43ADD7 40%, #0d222b 150%);
}
.radialGradient:nth-of-type(3) {
  background: radial-gradient(circle at 30px 30px, #fcecc3 0%, #FFC338 40%, #31260a 150%);
}

#twitter {
  max-height: 500px;
  overflow-y: scroll;
}

.card {
  list-style-type: none;
  background-color: #f4f4f4;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #333333;
  border-radius: 5px;
  box-shadow:
		  inset 0 4px 6px rgba(255,255,255,0.5),
		  inset 0 -4px 6px rgba(0,0,0,0.5),
		  0 2px 2px rgba(255,255,255,0.9);
}

.card:hover {
  background-color: #e5e5e5;
}

.cardLink:hover{
  text-decoration: none;
}

.cardLink:focus{
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Chewy', cursive;;
}

.card:nth-of-type(3n+1) {
  background-color: #FFC338;
}
.card:nth-of-type(3n+2) {
  background-color: #50AC5F;
}
.card:nth-of-type(3n) {
  background-color: #43ADD7;
}

.essential:nth-of-type(3n+1) .card {
  background-color: #FFC338;
}
.essential:nth-of-type(3n+2) .card {
  background-color: #50AC5F;
}
.essential:nth-of-type(3n) .card {
  background-color: #43ADD7;
}

.essential:nth-of-type(3n+1) .essential-name {
  color: #FFC338;
}
.essential:nth-of-type(3n+2) .essential-name {
  color: #50AC5F;
}
.essential:nth-of-type(3n) .essential-name {
  color: #43ADD7;
}


a:nth-of-type(3n+1) > .card {
  background-color: #FFC338;
}
a:nth-of-type(3n+1) > .card:hover {
  background-color: #fcecc3;
}
a:nth-of-type(3n+2) > .card {
  background-color: #50AC5F;
}
a:nth-of-type(3n+2) > .card:hover {
  background-color: #cae6cf;
}
a:nth-of-type(3n) > .card {
  background-color: #43ADD7;
}
a:nth-of-type(3n) > .card:hover {
  background-color: #c6e6f3;
}


.has-error {
  border-color: red;
}

#about {
  font-size: 20px;
}

.center {
  margin: auto;
}

.colinCards {
  padding-left: 0;
  li {
	opacity: 0;
  }
  li:nth-of-type(1) {
	opacity: 0;
	-webkit-animation: colinCards-1 8s infinite;
	-moz-animation: colinCards-1 8s infinite;
	-ms-animation: colinCards-1 8s infinite;
	-o-animation: colinCards-1 8s infinite;
	animation: colinCards-1 8s infinite;
  }
  li:nth-of-type(2) {
	opacity: 0;
	-webkit-animation: colinCards-2 8s infinite;
	-moz-animation: colinCards-2 8s infinite;
	-ms-animation: colinCards-2 8s infinite;
	-o-animation: colinCards-2 8s infinite;
	animation: colinCards-2 8s infinite;
  }
  li:nth-of-type(3) {
	opacity: 0;
	-webkit-animation: colinCards-3 8s infinite;
	-moz-animation: colinCards-3 8s infinite;
	-ms-animation: colinCards-3 8s infinite;
	-o-animation: colinCards-3 8s infinite;
	animation: colinCards-3 8s infinite;
  }
}

#colinImgs {
  position: relative;
  max-height: 200px;
}
.colinImg {
  max-height: 200px;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.colinImg:nth-of-type(1) {
  opacity: 1;
  -webkit-animation: colinImg-1 8s infinite;
  -moz-animation: colinImg-1 8s infinite;
  -ms-animation: colinImg-1 8s infinite;
  -o-animation: colinImg-1 8s infinite;
  animation: colinImg-1 8s infinite;
}
.colinImg:nth-of-type(2) {
  opacity: 0;
  -webkit-animation: colinImg-2 8s infinite;
  -moz-animation: colinImg-2 8s infinite;
  -ms-animation: colinImg-2 8s infinite;
  -o-animation: colinImg-2 8s infinite;
  animation: colinImg-2 8s infinite;
}

@keyframes colinImg-1 {
  0% { opacity: 1; }
  50% { opacity: 1; }
  55%   { opacity: 0; }
  95% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes colinImg-2 {
  0% { opacity: 0; }
  50% { opacity: 0; }
  55%   { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes colinCards-1 {
  0% { opacity: 0; }
  20%   { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes colinCards-2 {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40%   { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes colinCards-3 {
  0% { opacity: 0; }
  40% { opacity: 0; }
  60%   { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes colinImg-1 {
  0% { opacity: 1; }
  50% { opacity: 1; }
  55%   { opacity: 0; }
  95% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes colinImg-2 {
  0% { opacity: 0; }
  50% { opacity: 0; }
  55%   { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes colinCards-1 {
  0% { opacity: 0; }
  20%   { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes colinCards-2 {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40%   { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes colinCards-3 {
  0% { opacity: 0; }
  40% { opacity: 0; }
  60%   { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes colinImg-1 {
  0% { opacity: 1; }
  50% { opacity: 1; }
  55%   { opacity: 0; }
  95% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes colinImg-2 {
  0% { opacity: 0; }
  50% { opacity: 0; }
  55%   { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}
@-webkit-keyframes colinCards-1 {
  0% { opacity: 0; }
  20%   { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}
@-webkit-keyframes colinCards-2 {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40%   { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}
@-webkit-keyframes colinCards-3 {
  0% { opacity: 0; }
  40% { opacity: 0; }
  60%   { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes colinImg-1 {
  0% { opacity: 1; }
  50% { opacity: 1; }
  55%   { opacity: 0; }
  95% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes colinImg-2 {
  0% { opacity: 0; }
  50% { opacity: 0; }
  55%   { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}
@-ms-keyframes colinCards-1 {
  0% { opacity: 0; }
  20%   { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}
@-ms-keyframes colinCards-2 {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40%   { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}
@-ms-keyframes colinCards-3 {
  0% { opacity: 0; }
  40% { opacity: 0; }
  60%   { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes colinImg-1 {
  0% { opacity: 1; }
  50% { opacity: 1; }
  55%   { opacity: 0; }
  95% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes colinImg-2 {
  0% { opacity: 0; }
  50% { opacity: 0; }
  55%   { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes colinCards-1 {
  0% { opacity: 0; }
  20%   { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes colinCards-2 {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40%   { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes colinCards-3 {
  0% { opacity: 0; }
  40% { opacity: 0; }
  60%   { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}
