@import 'https://fonts.googleapis.com/css?family=Chewy|Kalam';
@import 'keyframes_colinAnimations';
@import 'keyframes_fadeIn';
@import 'cardColorings.scss';

body {
  font-family: 'Kalam', cursive;
}

ul {
  padding-left: 0;
}

#header {
  margin-top: 30px;
}

#footer {
  margin-top: 30px;
  border-top: 1px solid #eeeeee;
  padding-top: 30px;
  color: #777777;
}

.padded {
  padding-top: 60px;
}

#title {
  transform: translateY(60px);
  font-size: 60px;
}

.gallery-image img{
  display: block;
  max-width: 100%;
  height: auto;
}

.essential {
  overflow: hidden;
  border-style: solid;
  border-radius: 5px;
  margin-top: 5px;
  position: relative;

  .essential-letter {
	position: absolute;
	height: 100%;
	float: left;
	padding: 0 8px;
	width: 60px;
	text-align: center;
	h2 {
	  margin-top: 15px;
	  margin-bottom: 15px;
	}
  }
  
  .essential-wrapper {
	float: left;
	overflow: hidden;
	padding-left: 80px;
	max-width: 80%;
  }
  
  .description {
	border-style: none;
  }
}

.fade-in-1 {
  opacity: 0;
  -webkit-transition: opacity 0s ease-in;
  -moz-transition: opacity 0s ease-in;
  -ms-transition: opacity 0s ease-in;
  -o-transition: opacity 0s ease-in;
  transition: opacity 0s ease-in;
}

.fade-in-1.animation-triggered {
  opacity: 1;
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -ms-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.fade-out-1 {
  opacity: 1;
  -webkit-transition: opacity 0s ease-in;
  -moz-transition: opacity 0s ease-in;
  -ms-transition: opacity 0s ease-in;
  -o-transition: opacity 0s ease-in;
  transition: opacity 0s ease-in;

}

.fade-out-1.animation-triggered {
  opacity: 0;
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -ms-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.fade-in-2 {
  opacity: 0;
  -webkit-animation: fadein 2s forwards;
  -moz-animation: fadein 2s forwards;
  -ms-animation: fadein 2s forwards;
  -o-animation: fadein 2s forwards;
  animation: fadein 2s forwards;
}

#coreIdeasAnimation {
  min-height: 600px;
  max-width: 600px;
  margin: auto;
  position: relative;
}

#coreIdeasAnchor {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
 }

#coreIdeasImage {
  width: 150px;
  height: 150px;
  img {
	margin: auto 0;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
  }
}

.coreIdea {
  position: absolute;
  display: table;
  background: black;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 0;
  font-family: 'Chewy', cursive;;
}

.coreIdeaContent {
  display: table-cell;
  vertical-align: middle;
  color: #FFF;
}

#twitter {
  max-height: 500px;
  overflow-y: scroll;
}

.card {
  list-style-type: none;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border-style: solid;
  position: relative;
  
  .cardTitle {
	padding: 5px;
	width: 100%;
	h2, h4 {
	  margin: 0;
	}
  }

  .cardDescription {
	padding: 5px;
  }
  
}

.colinCards {
  .card {
	height: 40px;
  }
}

.linkCard {
  color: #333333;
}

.linkCard:hover {
  border-color: #e5e5e5;
}

.cardLink:hover{
  text-decoration: none;
}

.cardLink:focus{
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Chewy', cursive;;
}

.has-error {
  border-color: red;
}

#about {
  font-size: 20px;
}

.center {
  margin: auto;
}

.colinCards {
  li {
	opacity: 0;
  }
  li:nth-of-type(1) {
	opacity: 0;
	-webkit-animation: colinCards-1 8s infinite;
	-moz-animation: colinCards-1 8s infinite;
	-ms-animation: colinCards-1 8s infinite;
	-o-animation: colinCards-1 8s infinite;
	animation: colinCards-1 8s infinite;
  }
  li:nth-of-type(2) {
	opacity: 0;
	-webkit-animation: colinCards-2 8s infinite;
	-moz-animation: colinCards-2 8s infinite;
	-ms-animation: colinCards-2 8s infinite;
	-o-animation: colinCards-2 8s infinite;
	animation: colinCards-2 8s infinite;
  }
  li:nth-of-type(3) {
	opacity: 0;
	-webkit-animation: colinCards-3 8s infinite;
	-moz-animation: colinCards-3 8s infinite;
	-ms-animation: colinCards-3 8s infinite;
	-o-animation: colinCards-3 8s infinite;
	animation: colinCards-3 8s infinite;
  }
}

#colinImgs {
  position: relative;
  max-height: 200px;
}
.colinImg {
  max-height: 200px;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.colinImg:nth-of-type(1) {
  opacity: 1;
  -webkit-animation: colinImg-1 8s infinite;
  -moz-animation: colinImg-1 8s infinite;
  -ms-animation: colinImg-1 8s infinite;
  -o-animation: colinImg-1 8s infinite;
  animation: colinImg-1 8s infinite;
}
.colinImg:nth-of-type(2) {
  opacity: 0;
  -webkit-animation: colinImg-2 8s infinite;
  -moz-animation: colinImg-2 8s infinite;
  -ms-animation: colinImg-2 8s infinite;
  -o-animation: colinImg-2 8s infinite;
  animation: colinImg-2 8s infinite;
}

@media(min-width:767px) {
  .navbar {
	padding: 20px 0;
	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
  
  .top-nav-collapse {
  	padding: 0;
  }
}
