.card:nth-of-type(3n+1) {
  border-color: #FFC338;
  .cardTitle {
	background-color: #FFC338;
  }
}
.card:nth-of-type(3n+2) {
  border-color: #50AC5F;
  .cardTitle {
	background-color: #50AC5F;
  }
}
.card:nth-of-type(3n) {
  border-color: #43ADD7;
  .cardTitle {
	background-color: #43ADD7;
  }
}

a:nth-of-type(3n+1) > .linkCard .cardTitle {
  background-color: #FFC338;
}
a:nth-of-type(3n+2) > .linkCard .cardTitle {
  background-color: #50AC5F;
}
a:nth-of-type(3n) > .linkCard .cardTitle {
  background-color: #43ADD7;
}
a:nth-of-type(3n+1) > .linkCard:hover .cardTitle {
  background-color: #fcecc3;
}
a:nth-of-type(3n+2) > .linkCard:hover .cardTitle {
  background-color: #cae6cf;
}
a:nth-of-type(3n) > .linkCard:hover .cardTitle {
  background-color: #c6e6f3;
}

.essential:nth-of-type(3n+1) .essential-name {
  color: #FFC338;
}
.essential:nth-of-type(3n+2) .essential-name {
  color: #50AC5F;
}
.essential:nth-of-type(3n) .essential-name {
  color: #43ADD7;
}

.essential:nth-of-type(3n+1) .essential-letter{
  background-color: #FFC338;
}
.essential:nth-of-type(3n+2) .essential-letter {
  background-color: #50AC5F;
}
.essential:nth-of-type(3n) .essential-letter {
  background-color: #43ADD7;
}

.essential:nth-of-type(3n+1) {
  border-color: #FFC338;
}
.essential:nth-of-type(3n+2) {
  border-color: #50AC5F;
}
.essential:nth-of-type(3n) {
  border-color: #43ADD7;
}


a:nth-of-type(3n+1) > .card {
  border-color: #FFC338;
}
a:nth-of-type(3n+1) > .card:hover {
  border-color: #fcecc3;
}
a:nth-of-type(3n+2) > .card {
  border-color: #50AC5F;
}
a:nth-of-type(3n+2) > .card:hover {
  border-color: #cae6cf;
}
a:nth-of-type(3n) > .card {
  border-color: #43ADD7;
}
a:nth-of-type(3n) > .card:hover {
  border-color: #c6e6f3;
}

.radialGradient:nth-of-type(1) {
  background: radial-gradient(circle at 30px 30px, #cae6cf 0%, #50AC5F 40%, #102213 150%);
}
.radialGradient:nth-of-type(2) {
  background: radial-gradient(circle at 30px 30px, #c6e6f3 0%, #43ADD7 40%, #0d222b 150%);
}
.radialGradient:nth-of-type(3) {
  background: radial-gradient(circle at 30px 30px, #fcecc3 0%, #FFC338 40%, #31260a 150%);
}
